recursive-include catsoop/__AUTH__ *
recursive-include catsoop/__HANDLERS__ *
recursive-include catsoop/__QTYPES__ *
recursive-include catsoop/__STATIC__ *
recursive-include catsoop/__UTIL__ *
recursive-include vim *
include README
include LICENSE
include requirements.txt
include catsoop/dev.hash
